body {
    background-image: url("assets/emu.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Comic Sans MS', sans-serif, serif;
}

/* serious stuff */

* {
    outline: 2px solid red;

}

.title {
    color: black !important;
    font-family: "Times New Roman", serif !important;
    font-weight: 700 
    /* bolds the font */
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%
}

/* playground */

.gay {
    color: red
}

#homosexual {
    color: green    
}

/* for common features of multiple groups, either classes or ids */
.gay, .not-gay {
    background-color: bisque;
}

/* to only select a group with BOTH of these tags, leave no space or commas */
.gay.not-gay {
    /* some stuff that i havent put down */
}

/* descendant combinator: only selects the thing if the thing at the back is inside the thing in front*/
/* one space between the two things */
.lgbtq .gay {
    /* will only select the "gay" div that is a child inside the "lgbtq" class */
}


