* { 
    padding: 0;
    margin: 0;
    /* font-size: 16px; */
    line-height: 1.5;
    box-sizing: border-box;
    /* this is to make it such that the size input in height and width in the 
    css styling is the exact height and width, without a need to calculate margins*/
    
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-size:40px;
}

button {
    padding: 3px;
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation-bar {
    background-color:rgb(0, 0, 0);
    color:white;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    justify-content:end;
    
}

.flex-container {
    font-family:'Courier New', Courier, monospace;
    color:white;
    display:flex;
    flex:auto;
    justify-content: flex-start;
    gap:10px;
}

.alex-about {
    padding: 20px;
    height: 200px;
    background-color:rgb(0, 17, 48);
    color:white;
    line-height: 200px;
}

.testimonials1 {
    padding:30px;
    background-color:rgb(191, 239, 255);
}

.testimonials2 {
    padding:30px;
    background-color:rgb(223,247,255);


}