* {
    /* outline: 2px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height:100%;
}

body {
    background-attachment:scroll;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Comic Sans MS', sans-serif, serif; */
    height:100vh;
    font-size:16px;
    line-height:1.5;
}

.title {
    font-family: "Times New Roman", serif;
    font-size:50px;
    font-weight: 700;
    padding: 30px;
}

.league-spartan-bold {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Copperplate";
    src: url("../fonts/copperplate.otf") format("opentype");
}

@font-face {
    font-family: "MoonTime";
    src: url("../fonts/MoonTime-Regular.otf") format("opentype");
}

.stop-scroll {
    overflow:hidden;
}



#background {
    background-size:cover;
}

.index-background {
    /* background-image: url("assets/night-street-sakura.gif"); */
    /* width: 100vw; */
    height: 100vh;
    background: url("../assets/night-street-sakura.gif") no-repeat center top fixed;
    background-position:0 -320px;
}

.about-background {
    background-image: url("../assets/messy-study-room.gif");
    background-position:0 -600px;
    height:100vh;
}

.contact-background {
    background-image: url("../assets/autumn-temple.gif");
    height:100vh;
}

.jsplayground-background {
    background-image: url("../assets/rainingvillage.gif");
}

.timeline-background {
    background-image: url("../assets/run-down-room.gif");
    background-position: 0 -800px;
}


@media (max-width: 1087px) {

    /* .index-background {
        background-image: url('../assets/mobile/night-street-sakura-mobile.gif');
        background-position: center;
    } */

    .about-background {
        background-image: url('../assets/mobile/messy-study-room-mobile.gif');
        background-position:center;

    }

    .contact-background {
        background-image: url("../assets/mobile/autumn-temple-mobile.gif");
        background-position:center;
   
    }
  
    .jsplayground-background {
        background-image: url("../assets/mobile/rainingvillage-mobile.gif");
        background-position:center;
    }
  
    .timeline-background {
        background-image: url("../assets/mobile/run-down-room-mobile.gif");
        background-position:center;
    }
}


.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%
}

.navigation-bar {
    background-color: rgba(255, 255, 255, 0.6);;
    padding: 10px;
    list-style-type: none;
    margin: 0;
}

.flex-container {
    font-family:'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:10px;
}

.flex-column {
    flex-direction:column;
    padding:30px;

}

.redirect {
    color:rgb(0, 0, 0);
}


#WIP-display-text {
    text-align: right;
    display: inline-block;
    float: right;
}

.clear-background {
    background-color:transparent;
    height:300px;
    font-family:'Courier New', Courier, monospace;
    position:relative;
    color:#FFBD59!important;
}

.white-background {
    font-family:'Courier New', Courier, monospace;
    height:56vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding:10px;

}

#wonderhoy {
    position:absolute;
    bottom: 0px;
    left:80px;
    margin:-20px;
    font-size:80px;
}

#bottom-wonderhoy {
    display: none; /* Initially hide the div */
    position: fixed;
    bottom: 0%;
    left: 25%;
    transform: translateX(-50%);
    /* background-color: #f0f0f0; */
    padding: 20px;
    /* border-top: 1px solid #ccc; */
    /* width: 80%; */
    
    text-align: center;
    font-family: "MoonTime", 'Courier New', Courier, monospace;
    font-size:1000%;
    color:#ffbc58;
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 1s ease; /* Transition for opacity change over 0.5 seconds */
  }
  

#scrolling-gif {
  position: absolute; /* Ensure the image stays fixed relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  /* height: 100vh; Full height of the viewport */
  /* object-fit: cover; Maintain aspect ratio and cover entire container */
  z-index: -1; /* Place it behind other content */
}


.dropdown {
    float: left;
    overflow: hidden;
}

.down-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.quote {
    padding:40px;
    font-size:28px;
    font-family: "Copperplate", Arial, sans-serif;
    font-weight: 400;
    line-height:180%;
}


@media (max-width: 1087px) {
    #wonderhoy {
        left: 20px; /* Adjust left position for smaller screens */
        margin: -10px; /* Reduced margin for smaller screens */
        font-size: 40px; /* Smaller font size for phones */

    }

    .quote {
        left:10px;
        padding:10px;
        font-size:20px;
    }
}

.responsive-image {
    max-width: 90%; /* Ensures the image doesn't exceed the container width */
    height: auto; /* Maintains the aspect ratio */
    
}

#tokipona-definitions {
    white-space:pre; 
    font-size:25px; 
    overflow-wrap:break-word; 
    inline-size:min-content;


}
