* {
    /* outline: 2px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

html {
    height:100%;
}

body {
    background-attachment:scroll;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    font-size:16px;
    line-height:1.5;
}

.title {
    font-family: "Times New Roman", serif;
    font-size:50px;
    font-weight: 700;
    padding: 30px;
}

.league-spartan-bold {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Copperplate";
    src: url("../fonts/copperplate.otf") format("opentype");
}

@font-face {
    font-family: "MoonTime";
    src: url("../fonts/MoonTime-Regular.otf") format("opentype");
}

.stop-scroll {
    overflow:hidden;
}

.nav-button {
    position: absolute;
    display: default;
    background-color: white;
    opacity: 30%;
    bottom: 0;
}

#background {
    background-size:cover;
}

.about-background {
    background-image: url("../assets/messy-study-room.gif");
    background-position:0 -600px;
    height:100vh;
}

.contact-background {
    background-image: url("../assets/day-plaza.gif");
    height:100vh;
}

.jsplayground-background {
    background-image: url("../assets/rainingvillage.gif");
}

.timeline-background {
    background-image: url("../assets/run-down-room.gif");
    background-position: 0 -800px;
}

.updates-background {
    background-image: url("../assets/rainingvillage.gif")
}

@media (max-width: 1087px) {

    .about-background {
        background-image: url('../assets/mobile/messy-study-room-mobile.gif');
        background-position:center;
    }

    .contact-background {
        background-image: url("../assets/mobile/day-plaza-mobile.gif"); /* this should be resized to phone size but is alright for now */
        background-position:center;
    }
  
    .jsplayground-background {
        background-image: url("../assets/mobile/rainingvillage-mobile.gif");
        background-position:center;
    }
  
    .timeline-background {
        background-image: url("../assets/mobile/run-down-room-mobile.gif");
        background-position:center;
    }

    #page-title {
        left: 20px; 
        margin: -10px; 
        font-size: 40px;

    }

    .quote {
        left:10px;
        padding:10px;
        font-size:20px;
    }
}


.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%
}

.navigation-bar {
    background-color: rgba(255, 255, 255, 0.6);;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.flex-container {
    
    color:rgb(0, 0, 0);
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:10px;
}

.flex-column {
    flex-direction:column;
    padding:30px;

}

.redirect {
    color:rgb(0, 0, 0);
}


#WIP-display-text {
    text-align: right;
    display: inline-block;
    float: right;
}

.clear-background {
    background-color:transparent;
    height:300px;
    position:relative;
    color:#FFBD59!important;
}

.white-background {
    height:56vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding:10px;
}

#page-title {
    position:absolute;
    bottom: 0px;
    left:80px;
    margin:-20px;
    font-size:80px;
}

#bottom-wonderhoy {
    display: none;
    position: fixed;
    bottom: 0%;
    left:30%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    font-family: "MoonTime", 'Courier New', Courier, monospace;
    font-size:1000%;
    color:#ffbc58;
    opacity: 0;
    transition: opacity 1s ease; /* transition TODO: FIGURE OUT */ 
  }
  

#scrolling-gif {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw; 
  z-index: -1;
}

#nav-icon {
    height: 20px;
}

.contact-icon {
    height: 60px;
    margin: 10px;
    fill:rgb(72, 72, 72);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.down-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.quote {
    padding:40px;
    font-size:28px;
    font-family: "Copperplate", Arial, sans-serif;
    font-weight: 400;
    line-height:180%;
}

.responsive-image {
    max-width: 90%; 
    height: auto; 
    
}

#updates-box {
    white-space: pre-line; /* make line breaks show up */
    font-size: 16px;
    line-height: 1.2;
    width: 80%;
    padding:20px;
}

#tokipona-definitions {
    white-space:pre; 
    font-size:25px; 
    overflow-wrap:break-word; 
    inline-size:min-content;


}
